<!DOCTYPE html> 
{% load staticfiles %}
<!-- New line -->
<html>
  <head>
    <title>Rango</title>
  </head>
  <body>
    <a href="/rango/">Back</a><br />
    <h1>Rango says here is the about page.</h1>
    <div>
      About rango.... <br />
      <strong>{{ boldmessage }}</strong><br />
    </div>
    <div>
      <img class="images" src="{% static 'images/mascot.jpg' %}" alt="Picture of Rango" />
      <img class="images" src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a cat" />
      <!-- New line -->
    </div>
  </body>
</html>

<style>
    .images{
        width: 150px;
        height: 150px;
    }
</style>